@charset "utf-8";
@import '../../assets/css/ress.min.css';
@import "../../assets/css/swiper.css";
.index {
  font-size: 12px;
}
.index__banner {
  display: flex;
  font-weight: bold;
  font-size: 14px;
}
.index__banner .banner__icon {
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.3);
  flex: 1;
  width: 3rem;
  height: 2.2rem;
  margin: .3rem .2rem;
  border: 1px solid #ccc;
  line-height: 2.2rem;
  text-align: center;
}
.index__banner .banner__icon .icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: .5rem;
  text-align: center;
  vertical-align: middle;
  padding-left: .4rem;
}
.index__banner .banner__icon .icon1 {
  background: url('../../assets/images/icon_我的需求.png') no-repeat;
  background-size: 2rem;
}
.index__banner .banner__icon .icon2 {
  background: url('../../assets/images/icon_发布需求.png') no-repeat;
  background-size: 2.2rem;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  margin-left: .35rem;
  line-height: .8rem;
}
.index__content {
  display: flex;
  margin-left: .2rem;
}
.index__content .content__icon {
  width: 3rem;
  height: 3rem;
  color: #fff;
  border: 1px solid #ccc;
  margin: 0 .2rem;
}
.index__content .content__icon .content__img {
  height: 2rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.index__content .content__icon .content__img .img__icon {
  width: 2.2rem;
  margin-left: .3rem;
}
.index__content .content__icon .content__img .img__icon2 {
  width: 1.8rem;
  margin-top: .1rem;
}
.index__content .content__icon .icon1 {
  background: #b5daff;
}
.index__content .content__icon .icon2 {
  background: #f2cdf8;
}
.index__content .content__icon .icon3 {
  background: #b9ffff;
}
.index__content .content__icon .content__txt {
  text-align: center;
  line-height: 1rem;
}
.index__content .content__icon .txt1 {
  background: #46a3ff;
}
.index__content .content__icon .txt2 {
  background: #e297f0;
}
.index__content .content__icon .txt3 {
  background: #00cccc;
}
.index__footer {
  display: flex;
}
.index__footer .index__container {
  width: 100%;
  height: 100%;
}
.index__footer .index__slide {
  width: 7rem !important;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index__footer .footer__container1 {
  height: 3rem;
  width: .7rem;
  border: 1px solid #ccc;
  background: #e5e5e5;
  margin: 0 .5rem;
}
.index__footer .footer__container2 {
  margin-top: .5rem;
  width: 8rem;
}
.index__footer .footer {
  width: .6rem;
  height: 3.2rem;
  margin: .3rem;
  margin-top: .5rem;
}
.index__footer .footer1 {
  background: #b5daff;
}
.index__footer .footer2 {
  background: #ffcccc;
}
