@charset 'utf-8';
.demand {
  font-size: 12px;
}
.demand .demand__head {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  height: 4rem;
  background: url('../../assets/images/pic_背景.jpg') no-repeat;
  background-size: 11rem;
}
.demand .demand__head .head__icon {
  font-size: 20px;
  line-height: 2rem;
  text-align: center;
  margin: 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #999;
  width: 1.7rem;
  height: 1.7rem;
  background: #ff6f6f url('../../assets/images/pic_头像.png') no-repeat;
  background-size: 1.7rem;
}
.demand .demand__head .head__txt {
  line-height: .6rem;
  margin-top: .6rem;
  margin-left: -0.5rem;
}
.demand .demand__head .head__txt .one {
  font-size: 13px;
  color: #000;
}
.demand .nav__border {
  border-bottom: 1px solid #ccc;
}
.demand .nav__border .border {
  margin-bottom: .01rem;
}
.demand .block {
  display: flex;
}
.demand .right {
  margin-top: .3rem;
  margin-left: -0.7rem;
}
.demand .all {
  display: inline-block;
  margin: .5rem;
  width: .5rem;
  height: .5rem;
  background: #ff6f6f;
  border-radius: .5rem;
}
.demand .two {
  margin-top: 2rem;
}
.demand .three {
  margin-top: 2rem;
}
.demand .content {
  height: 3.1rem;
  width: 7rem;
  display: inline-block;
}
.demand .content p {
  color: #999;
  font-size: 9px;
  text-align: left;
}
.demand .content h3 {
  font-weight: bold;
  font-size: 13px;
}
.demand .line {
  height: 2.5rem;
  border: 1.2px solid #ccc;
  position: relative;
  left: .8rem;
  top: 1rem;
}
.demand .line2 {
  height: 2.5rem;
  border: 1.2px solid #ccc;
  position: relative;
  top: 4.09rem;
  left: .77rem;
}
