@charset 'utf-8';
.say {
  font-size: 12px;
}
.say .say__tips {
  margin: .3rem;
}
.say .say__tips .tips__photo {
  width: 9rem;
  height: 8rem;
  background: #ccc;
  margin: 0 auto;
}
.say .say__tips .tips__txt {
  color: #ccc;
  text-align: center;
  margin-top: .2rem;
  font-size: 11px;
}
.say footer {
  display: flex;
  position: fixed;
  bottom: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 99;
  background-color: #FFF;
  height: 2.1rem;
  width: 100%;
  font-size: 0.12rem;
  color: #666;
  text-align: center;
}
.say footer .say__footer {
  flex: 1;
  border: none;
  text-align: center;
  width: 1.3rem;
  height: .7rem;
  line-height: .7rem;
  background: #fff;
  margin: .5rem;
  border-radius: .5rem;
  margin-top: -0.2rem;
}
.say footer .say__say {
  background: #f02b2b;
  font-size: 14px;
  color: #fff;
  flex: 1;
  width: 2rem;
  line-height: 2.1rem;
  border-radius: 2rem;
  text-align: center;
  margin: 0 .5rem;
  border: 1px solid #000;
}
.say footer .photo {
  height: 2rem;
  margin-top: -0.1rem;
  background: url('../../assets/images/icon_键盘.png') no-repeat;
  background-size: 2.3rem;
}
